body{


}
h1{
text-align: center;
color: brown;
font-size: 60px;


}
a{

text-decoration: none;
font-size: 40px;
font-family: sans-serif;
 
 }
 ol{

position: relative;
left: 100px
font-size: 20px;
}
p{

position: relative;
text-align: center;
color: green;
font-size: 30px;
}
#p1{

position: relative;
text-align: center;
font-family: sans-serif;
font-size: 35px;


}



